KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0",ENV{XAUTHORITY}="/home/nonce/.Xauthority", RUN+="/bin/bash /home/nonce/.config/scripts/hotplug-monitor.sh"
