[Unit]
Description=mbsync for all channels
ConditionPathExists=%h/.mbsyncrc
Before=update-mail-index.service

[Service]
ExecStart=/usr/bin/mbsync %i

[Install]
WantedBy=mail.target
