[Unit]
Description=Timer for mbsync
ConditionPathExists=%h/.mbsyncrc
PartOf=mail.target
BindsTo=davmail.service
After=mail.target davmail.service

[Timer]
Unit=mbsync@%i.service
OnBootSec=1m
OnUnitInactiveSec=5m

[Install]
WantedBy=mail.target
